* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    background-color: #2266ee;
}

.container-1 {
    height: 30px;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left ul,
.right ul {
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font: 500 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left ul {
    width: 420px;
    justify-content: space-between;
    margin-left: 20px;
}

.right ul {
    width: 280px;
    justify-content: space-between;
    margin-right: 20px;
}

.container-1 a,
.container-2 a{
    text-decoration: none;
    color: #818181;
}

.container-1 a:hover {
    color: #fff;
}
#news {
    color: #fff;
}

.container-2 {
    height: 60px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-1 ul {
    width: 480px;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    font: 600 15px Georgia, 'Times New Roman', Times, serif;
}

.right-2 {
    width: 30px;
    margin-right: 20px;
    border-left: 1px solid rgba(191, 185, 185, 0.4);
    padding: 20px;
}

.container-2 a:hover {
    color: #000;
}